*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(24, 131, 125);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    border: 4px solid #000;
    

}
#back{
    width: 100%;
    height: 120px;
    padding: 15px;
    border-bottom: 1px solid #d0d0d0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
#back::-webkit-scrollbar{
    display: none;
}
#gola{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
#gola img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
background-size: cover;
background-position: center;
    position: absolute;
    display: none;
}